.DS_Store
.git
.github
.idea
.plans
.vs

**/.env
**/.env.*
!**/.env.example
**/appsettings.Development.json

**/bin
**/obj
**/node_modules
**/dist
**/coverage
**/*.user
**/*.suo
**/*.log

client-app/.vite
client-app/.eslintcache
