[submodule "Micropub"]
	path = Micropub
	url = https://github.com/myquay/Micropub.git
[submodule "IndieAuth"]
	path = IndieAuth
	url = https://github.com/myquay/IndieAuth.git
[submodule "lib/IndieAuth"]
	path = lib/IndieAuth
	url = https://github.com/myquay/IndieAuth.git
