<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Little Publisher</title>
    <link href="/css/pico.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="container-fluid">
        <ul>
            <li>
                <a href="/" class="contrast" onclick="event.preventDefault()"><strong>LilPub</strong></a>
            </li>
        </ul>
    </nav>

    @RenderBody()

</body>
</html>