@page
@model LittlePublisher.Web.Pages.Account.SignInModel

<main class="container">
    <article class="grid">
        <div>
            <hgroup>
                <h1>Sign in</h1>
                <h2>IndieWeb services</h2>
            </hgroup>
            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Model.ReturnUrl" name="returnUrl" id="returnUrl" />
                @if(!ModelState.IsValid)
                    @Html.ValidationMessage("me", new { @class = "alert alert-danger"})
                <input type="text" 
                    id="me" 
                    name="me" 
                    value="@Model.Me"
                    placeholder="Domain"
                    aria-label="Domain"
                    autocomplete="on"
                       required />
                <button type="submit" class="contrast">Sign in</button>
            </form>
        </div>
    </article>
</main>