@page
@model LittlePublisher.Web.Pages.Account.SignInModel

<main class="container">
    <article>

        <header>
            <hgroup>
                <h2>LilPub</h2>
                <p>Self-hosted publishing platform for your personal website</p>
            </hgroup>
        </header>
        <div>
            <p><small>Enter the domain of your IndieAuth enabled website to continue.</small></p>

            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Model.ReturnUrl" name="returnUrl" id="returnUrl" />
                @if(!ModelState.IsValid)
                    @Html.ValidationMessage("me", new { @class = "alert alert-danger"})
                <input type="text" 
                    id="me" 
                    name="me" 
                    value="@Model.Me"
                    placeholder="Domain"
                    aria-label="Domain"
                    autocomplete="on"
                       required />
                <button type="submit" class="contrast">Sign in</button>
            </form>
        </div>
    </article>
</main>